/* Reset some default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set a background color for the entire app */
body {
  font-family: Arial, sans-serif;
  background-color: gray; /* Light gray background */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  height: 100vh; /* Set the body to full height of the viewport */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

/* Style the header */
.header {
  background-color: #333; /* Dark background color */
  color: white; /* Text color */
  text-align: center;
  padding: 20px;
}

.header h1 {
  font-size: 2rem; /* Larger font size for the heading */
  margin-bottom: 10px;
}

.header p {
  font-size: 1rem; /* Font size for the paragraph */
}

/* Style the navigation links */
.nav-links {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff5722; /* Hover color */
}

/* Style the meal form */
.meal-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row; /* Display input and button horizontally */
}

.meal-form input[type="text"] {
  padding: 10px;
  width: 60%;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-right: 10px;
}

.meal-form button {
  padding: 10px 20px;
  background-color: #ff5722; /* Orange button background color */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.meal-form button:hover {
  background-color: #ff7043; /* Hover background color */
}

/* Style the meal cards container */
/* Style the meal cards container */
.meal-card-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  padding: 25px;
  max-width: 1000px;
  margin: 0 auto;
}


.meal-card {
  background-color: grey;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  overflow: hidden;
  width: calc(25% - 20px); 
  margin-bottom: 20px; 
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1200px) {
  .meal-card {
    width: calc(33.33% - 20px); 
  }
}


@media screen and (max-width: 768px) {
  .meal-card {
    width: 100%; 
  }
}


.meal-details {
  padding: 10px;
  text-align: left;
  background-color: grey; 
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meal-details p {
  font-size: 1rem;
  margin: 5px 0;
}

.meal-card img {
  max-width: 100%;
  height: auto;
}




footer {
  background-color: #333; 
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%; 
}
